# SECRETS
# ------------------------------
SECRET_KEY=
ROOT_URLCONF=config.urls.urls
GENERATE_SEED_DATA=True
DATA_UPLOAD_MAX_MEMORY_SIZE=

CONTEXT_PROCESSORS=src.pages.context_processors.page_context,src.notifications.context_processors.notifications_context

# POSTGRES
# ------------------------------
# Postgres database name
POSTGRES_DB=
# Postgres user
POSTGRES_USER=
# Postgres password
POSTGRES_PASSWORD=
# Postgres host
POSTGRES_HOST=
# Postgres port
POSTGRES_PORT=

# SECURITY
# ------------------------------
CORS_ALLOWED_ORIGINS=http://localhost:8000,http://0.0.0.0:8000

# TELEGRAM
# ------------------------------------------------------------------------------
TELEGRAM_TOKEN=
TELEGRAM_LOGGING_CHAT=
TELEGRAM_LOGGING_EMIT_ON_DEBUG=False

# Django vite settings
# ------------------------------------------------------------------------------
DJANGO_VITE_DEV_MODE=True
DJANGO_VITE_DEV_SERVER_HOST=localhost

# API
# ------------------------------------------------------------------------------
API_KEY_SITE=
PUBLIC_API_KEY=

# SUPERUSER
# ------------------------------------------------------------------------------
# Superuser email. Automatically created or updated
SUPERUSER_EMAIL=testsuperuser@example.com
# Superuser password. Automatically created or updated
SUPERUSER_PASSWORD=pass12345

# SMTP settings
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
CV_RECIPIENT_EMAILS=nikitindima1206@gmail.com

# Vite settings
# ------------------------------------------------------------------------------
VITE_API_KEY_SITE=admin-test
VITE_BASE_API_URL=http://localhost:8000
VITE_BASE_URL=http://localhost:3000/
VITE_GOOGLE_MAPS_API_KEY=AIzaSyBdso2-bl3RdtE82n7yPMf7Jf6CTKe3v24
VITE_GOOGLE_MAPS_MAP_ID=DEMO_MAP_ID

# REDIS
# ------------------------------------------------------------------------------
# Redis host
REDIS_URL=redis://localhost:6379/0
# Celery broker url, same as REDIS_URL
CELERY_BROKER_URL=redis://localhost:6379/0

# Google Recaptcha
# ------------------------------------------------------------------------------
RECAPTCHA_SECRET_KEY=
RECAPTCHA_SUPER_TOKEN=

# JWT Settings
# ------------------------------------------------------------------------------
ACCESS_EXPIRATION=300
REFRESH_EXPIRATION=108000
JWT_SECRET_KEY=FSJKflff2KlfglkmaLg2gfonmsfsdhbKUBfs4fsdjfsd3fnkpHlYbczph
JWT_ALGORITHM=HS256


# Google Oauth2.0
# ------------------------------------------------------------------------------
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Company Telegram
# ------------------------------------------------------------------------------
COMPANY_TELEGRAM_BOT_TOKEN=

# SendPulse settings
SENDPULSE_REST_API_ID=
SENDPULSE_REST_API_SECRET=
SENDPULSE_SENDER_NAME=
SENDPULSE_SYSTEM_SENDER_EMAIL=
SENDPULSE_HR_SENDER_EMAIL=
